.chatListItem {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 70px;
}

.chatList_avatar {
  width: 50;
  height: 50px;
  border-radius: 50%;
  margin-left: 15px;
}

.chatList_lines {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #eee;
  padding-right: 15px;
  margin-left: 15px
}

.chatList_line {
}

.chatList_nickname {
}

.chatList_date {
}

.chatList_lastMsg {
}
